---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}

<div class="pub-card">

  {% if post.thumbnail %}
  <div class="pub-thumb">
    <img src="{{ post.thumbnail }}">
  </div>
  {% endif %}

  <div class="pub-content">

    <h3 class="pub-title">
      <a href="{{ post.paperurl }}">{{ post.title }}</a>
    </h3>

    <div class="pub-authors">
      {{ post.authors }}
    </div>

    <div class="pub-journal">
      <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}
    </div>

    <p class="pub-summary">
      {{ post.excerpt }}
    </p>

    {% if post.paperurl %}
    <a class="pub-button" href="{{ post.paperurl }}">Download</a>
    {% endif %}

  </div>

</div>

{% endfor %}
