---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}

<div style="margin-bottom:40px; padding-bottom:20px; border-bottom:1px solid #ddd;">

<h3 style="margin-bottom:5px;">
<a href="{{ post.paperurl }}">{{ post.title }}</a>
</h3>

<p style="margin:4px 0;">
{{ post.authors }}
</p>

<p style="margin:4px 0;">
<i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}
</p>

{% if post.excerpt %}
<p style="margin:8px 0;">
{{ post.excerpt }}
</p>
{% endif %}

{% if post.paperurl %}
<a href="{{ post.paperurl }}">Download Paper</a>
{% endif %}

</div>

{% endfor %}
