---
# Only the main Sass file needs front matter
---

@import "minimal-mistakes";

/* Expand site width */
.initial-content {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.page__inner-wrap {
  max-width: 1600px;
}
